{% extends 'master.html' %}
{% block body %}


<form class="submit_form" method="POST" action="/profile/{{user_id}}">
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <input type="text" class="form-control" placeholder="Movie name" name= "movie_name">
    <p>Rating:</p>
    
    1<input type="radio" name="rating" value="1">
    <input type="radio" name="rating" value="2">
    <input type="radio" name="rating" value="3">
    <input type="radio" name="rating" value="4">
    <input type="radio" name="rating" value="5">5
   
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
</form>

{% for movie in movie_ratings %}
    <b>Movie:</b> <a href="/movie_title/{{movie}}">{{movie}}</a><br>
    Rating: {{movie_ratings[movie]}}<br>
{% endfor %}
{% endblock %}